<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h6 class="white-text center">Built with
          <%= link_to 'Ruby on Rails 5.1.2',  'http://rubyonrails.org/',
              target: '_blank', class: 'grey-text text-lighten-4' %>,
          <%= link_to 'Materialize CSS', 'http://materializecss.com/',
              target: '_blank', class: 'grey-text text-lighten-4' %>
              and hosted on
          <%= link_to 'Heroku', 'http://heroku.com/',
              target: '_blank', class: 'grey-text text-lighten-4' %>.
        </h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © Forever Red Hendery
    <%= link_to 'Check out the code', 'https://github.com/redhendery/rails_bowl',
        target: '_blank', class: 'grey-text text-lighten-4 right' %>
    </div>
  </div>
</footer>
