<div class="container-fluid">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Home', root_path, class: "brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <%= link_to 'Contact', standings_path, class: "nav-link nav-item" %>
        </ul>
      </div>
    </nav>
  </div>
</div>
