<nav>
  <div class="container">
    <div class = "nav-fixed">
      <ul class="left">
        <%= link_to 'Home', root_path %>
      </ul>
      <ul class="right">
        <%= link_to 'Contact', create_message_path %>
      </ul>
    </div>
  </div>
</nav>
